.personal-container,.qual-container{
    height: 92vh;
    display: flex;
    border: 1px solid red;
}

.personal-from,.qual-form{
    border: 1px solid;
    width: 50%;
    flex-grow: 1;
}

.qual-gen{
    position: fixed;
    bottom: 12rem;
    right: 40px;
}

.qual-save{
    position: fixed;
    bottom: 8rem;
    right: 40px;
}